@import url('https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');


/* ELEMENTS RELATED */

body {
	-webkit-font-smoothing: antialiased !important;
	background-color: black;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
		background: url("../img/hyperbg_nahka.jpg") no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}



.main {

	 background: linear-gradient(180deg, #f27688, #f883d2, #5151ff, #8cf1ff, #8dfc8f, #faff92, #fa7b7b);
background-size: 1400% 1400%;

-webkit-animation: HYPERREAALIYAH 59s ease infinite;
-moz-animation: HYPERREAALIYAH 59s ease infinite;
-o-animation: HYPERREAALIYAH 59s ease infinite;
animation: HYPERREAALIYAH 59s ease infinite;

/*background-image: url("../img/hyperbg_skumppa.jpg");*/
 height: 100%;
 width: 100%;
 position: absolute;

@-webkit-keyframes HYPERREAALIYAH {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes HYPERREAALIYAH {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes HYPERREAALIYAH {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes HYPERREAALIYAH {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}

.panel {

	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	max-width: 90%;

}

.menuPanel, .contactPanel {
	height: 100%;
	max-height: 100%;
	overflow-y: hidden;
}

.menu, .project {
	position: absolute;
	z-index: 50;
	width: 100%;
	min-width: 100%;
	/*min-height: 100%;*/
}

.menu {
	left: -100%;
	/*max-height: 100% !important;*/
	overflow-y: hidden;
	margin:0;
}

.project {
	left: 100%;
}

.halfPage {
	max-width: 45%;
}

.description {
	margin-top: 40px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	max-width: 100%;
}

td {
	max-width: 45%;
	padding-bottom: 20px;
}

tr {
	margin-top: 10px;
	/*margin-bottom: 100px;*/
}

.newsPanel {
	margin-top: 50px;
	width: 600px !important;
}

.newsDate {
	vertical-align: top;
	width: 100px;
}

.newsContent {
	width: 500px;
}

.menu-section {
	padding: 15px;
	font-size: 14px;
	vertical-align: top;
	display: inline-block;

}

.about {
	max-height:100%;
	overflow-y: auto;
	max-width: 30%;
}

.contact {
	max-width: 15%;
}

.news {
	max-height:100%;
	overflow-y: auto;
	max-width: 40% !important;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.scrollable {
	overflow-y: auto;
}



/*  TEXT RELATED */



p {
	font-family: 'Quattrocento Sans', sans-serif;
	line-height: 1.8em;
	color: #FFFFFF;
}

a, a:hover {
	color: rgb(220,170,99);
}

h1, h2 {
	/*text-align: center;*/
}

h2, h3 {
	color: #FFFFFF;
	font-family: 'Playfair Display', serif;

}

h1.projectTitle {
	font-family: 'Playfair Display', serif;
	color: #FFFFFF;
	font-size: 28px;
	margin-top: 20px;
	margin-bottom: 20px;
}

p.projectDescription {
	margin-bottom: 50px;
}

h2 {
	margin-bottom: 40px;
	padding-top: 40px;
}

h3 {
	font-size: 20px;
}

.aboutTitle, .contactTitle, .newsTitle {
	padding-top: 3%;
}

.navi {
	font-family: 'Playfair Display', serif;
	color: #FFFFFF;
	font-size: 24px;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
}

.photoCaption p{
	color: #FFFFFF;
	margin-bottom: 40px;

}


/* IMAGE RELATED */

button, div {
	opacity: 1 !important;
}

.goToMenu, .bubble {
	max-width: 120px;
}

.goToMenu {
	background-color: transparent;
	border: none;
}

.arrowRight {
	margin: 20;
	display: inline-block;
	position: relative;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

.arrowLeft {
	margin: 20;
	left: 20px;
	top: 20px;

	margin-top: 20px;
	margin-left: 20px;
}

.imageFull, .photoCaption {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;

}

.imageFull {
	padding-top: 30px;
	padding-bottom: 10px;
	width: 900px;
}

.photoCaption {
	/*width: 850px; */
}


/* VIDEO RELATED */

.videoContainer {
	width: 600px;
	max-width: 90%;
	position: relative;
	/*margin-left: auto;*/
	margin-right: auto;
	padding-bottom: 56.25%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.videoContainer iframe, .videoContainer object {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {

}

@media only screen and (max-width: 1000px) {
		.menu {
			overflow-y: visible;
		}
		.menu-section, .news {
			display: block;
			width: 800px !important;
			max-width: 95% !important;
			max-height: none !important;
		}
		.news {
			overflow-y: visible;
			border-left: none;
			border-right: none;
			max-height: none;
		}

}
