<!DOCTYPE html>
<!-- running the app referenced in the directive when the document loads -->
<html ng-app="art-catalogue">
	<head>

		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">

		<link rel="stylesheet" type="text/css" href="css/main.css">

		<!-- vendor -->
		<script src="js/vendor/jquery-2.1.1.js"></script>
		<script src="js/vendor/angular.min.js"></script>
		<script src="js/vendor/angular-route.min.js"></script>
		<!-- scripts -->
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/routes.js"></script>
		<script type="text/javascript" src="js/navigation.js"></script>
		<script type="text/javascript" src="js/bubbles.js"></script>


	</head>


	<body ng-controller="ArtController as controller">

		<!-- ABOUT, CONTACT, NEWS ACTUAL CONTENT-->
		<section class="links">

			<img class="backButton_2 arrowRight" src="img/arrow-right.png"></img>

			<div class="panel" ng-show="nav_tab === 1">

				<div class="description">

					<h2 class="aboutTitle">About</h2>

					<p><i>HYPERREAALIYAH is a return more real than real to the holy land of meaning.</i></p>

					<p>Fundamentally, HYPERREAALIYAH is a simulation of an artist. We work on our projects collectively, yet the main motor and creative force of HYPERRAALIYAH is Jenna Jauhiainen, the mother of the project. The project was conceived in late 2014 after months of research into the writings of Jean Baudrillard (1929-2007). </p>

					<p>HYPERREAALIYAH is a combination of two words - <i>hyperreality</i> and <i>aaliyah</i>. Hyperreality is Jean's concept, and in short it refers to reality spinning itself to hyperreality, to things more real than real. Aaliyah is a hebrew word for <i>ascent</i>, and refers to the return of diasporic jews to the holy land of Israel. HYPERREAALIYAH is aaliyah more real than the trip one can make to the real lands of Israel. It's an ascent back to the holy lands of meaning often lost in the spin of the hyperreal. Our art is often in-your-face in the similar way hyperreality itself is so much entwined in all our visual experience. </p>

					<p>A key part of HYPERREAALIYAH's process is to take things from the internet as relics of hyperrealiaty, and make them our own. Thus there is a documentative element to the process even though the end result is often surreal. The essence of our visual style is not having made anything ourselves - even videos shot by us do not count, as it is documentation per se. We see no reason to respect copyrights as what we are creating is new. </p>

					<p>In addition to revealing the structures of hyperreality, this project uses the methods of it to advance human rights. Even though it might not appear so on the first glance, this is a humanitarian art project. </p>
				</div>
			</div>

			<div class="contactPanel panel" ng-show="nav_tab === 2">

				<div class="halfPage">
					<h2 class="contactTitle">Contact</h2>

					<p>All contact to HYPERREAALIYAH goes via Jenna Jauhiainen.</p>

					<p><b>TEL</b> +358 40 836 11 88</p>

					<p><b>EMAIL</b> jenna@hyperreaaliyah.com</p>
				</div>

			</div>

			<div class="panel newsPanel" ng-show="nav_tab === 3">

				<h2 class="newsTitle">News</h2>

				<table style="width:100%">
					<tr>
						<td class="newsDate"><p>22.9.2015</p></td>
						<td class="newsContent">
							<p>Jenna Jauhiainen is taking the Sympolitics series to the portfolio review in Encontros da Imagem on 23.-26.9.</p>
						</td>
					</tr>
					<tr>
						<td class="newsDate"><p>19.9.2015</p></td>
						<td class="newsContent">
							<p>HYPERREAALIYAH has trolled the Finnish SS, Suomen Sisu by taking an order for a private video-history of the organization and turning it into a public charade. The video can be viewed <a href="https://www.youtube.com/watch?v=J0yFJH1qVJ8">here</a>.</p>
						</td>
					</tr>

					<tr>
						<td class="newsDate"><p>18.8.2015</p></td>
						<td class="newsContent">
							<p>Two days from now, HYPERREAALIYAH and Pultset will be showing the <a href="https://www.youtube.com/watch?v=vpU8vFatBx4">WEIRD HISTORY OF FINNISH YOUTUBE ART</a> in Kalleria during the Helsinki Night of the Arts. The video starts playing at noon and runs until 10PM.</p>
						</td>
					</tr>

					<tr>
						<td class="newsDate"><p>20.7.2015</p></td>
						<td class="newsContent">
							<img src="img/kalleria_juliste.jpg"></img>
							<p>Artworks by HYPERREAALIYAH will be on display in the xhibition <a href="https://www.facebook.com/events/385321408338229">HYPERREAALIYAH + HANNA HYY = NOW HERE</a> from 1.8.-28.8.2015 in <a href="http://www.kalleria.fi/">Kalleria</a>, Helsinki.</p>
						</td>
					</tr>
				  	<tr>

				  	</tr>
				</table>


			</div>

		</section>

		<!-- LEFTHAND SIDE -->
		<section class="menu">

			<img class="backButton arrowRight" src="img/arrow-right.png"></img>

			<div class="menuPanel panel">

				<div class="naviItems">
					<p class="navi" ng-click="nav_tab=1">About</p>
					<p class="navi" ng-click="nav_tab=2">Contact</p>
					<p class="navi" ng-click="nav_tab=3">News</p>
				</div>

			</div>

		</section>


		<!-- BUBBLE POLIS -->
		<section id="main" class="main">

			<!-- <button class="goToMenu"><img src="img/menu_button_copy.png"></img></button> -->

		</section>


		<!-- RIGHTHAND SIDE -->
		<section class="project">

			<img class="arrowLeft backButton" src="img/arrow-left.png"></img>

			<div ng-view></div>
			<!-- <div ng-include="'project.html'"></div> -->

		</section>



	</body>
