<div ng-repeat="work in controller.works">

  <div class="panel" ng-show="tab === {{work.number}}">

    <h1 class="projectTitle">{{work.name}}</h1>

    <p class="projectDescription">{{work.description}}</p>

    <div ng-repeat="photo in work.photos">
      <h3>{{photo.name}}</h3>
      <img class="imageFull" src="projects/{{work.number}}/{{photo.src}}"></img>
      <div class="photoCaption">
        <p>{{photo.text}}</p>
      </div>
    </div>

    <!-- SHOWS A VIDEO IF ITS ALLOWED IN THE JSON -->
    <div class="video" ng-show="work.showVideo">

      <div class="videoContainer" ng-show="tab === 5">
        <iframe class="projectVideo" src="https://www.youtube.com/embed/JHD8pSs2rFs" frameborder="0"></iframe>
      </div>
      <div class="videoContainer" ng-show="tab === 6">
        <iframe class="projectVideo" src="https://www.youtube.com/embed/vpU8vFatBx4" frameborder="0"></iframe>
      </div>
      <div class="videoContainer" ng-show="tab === 7">
        <iframe class="projectVideo" src="https://www.youtube.com/embed/HTpJc8TmQVs" frameborder="0"></iframe>
      </div>
      <div class="videoContainer" ng-show="tab === 8">
        <iframe class="projectVideo" src="https://www.youtube.com/embed/cPUhP5zmIyk" frameborder="0"></iframe>
      </div>
      <div class="videoContainer" ng-show="tab === 9">
        <iframe class="projectVideo" src="https://www.youtube.com/embed/py1aFjHeUEk" frameborder="0"></iframe>
      </div>
      <div class="videoContainer" ng-show="tab === 10">
        <iframe class="projectVideo" src="https://www.youtube.com/embed/WBziKZWUQZs" frameborder="0"></iframe>
      </div>
      <!-- SUOLEN SISUN HISTORIIKKI -->
      <div class="videoContainer" ng-show="tab === 11">
        <iframe class="projectVideo" src="https://www.youtube.com/embed/J0yFJH1qVJ8" frameborder="0"></iframe>
      </div>

    </div>

  </div>

</div>
